# An element of this array associates a patch file with a target directory.
# All paths in the patch file must be relative to that directory. Each patch
# file entry should be proceeded by the code review or bug report link that it
# relates to.
patches = {
  # http://codereview.chromium.org/6730028/
  'base' : '../base/',
  # http://groups.google.com/a/chromium.org/group/chromium-dev/browse_thread/thread/3d1f12409578cbf4
  'skia_gpu' : '../third_party/skia/gpu/',
}
