# An element of this array associates a patch file with a target directory.
# All paths in the patch file must be relative to that directory. Each patch
# file entry should be proceeded by the code review or bug report link that it
# relates to.
patches = {
}
